.section__one {
  margin: 120px 15px;
  text-align: center;

  @include tablet {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__picture {
    width: 120px;
    height: 100px;
    margin-bottom: 30px;
  }

  &__title {
    text-align: center;
    text-transform: uppercase;
    color: #353738;
    letter-spacing: 2px;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 30px;
  }

  &__text {
    text-align: center;
    font-size: 18px;
    color: $grey;
    font-weight: 300;
    word-spacing: 2px;
    line-height: 1.6em;

    @include tablet {
      max-width: 1250px;
    }
  }
}